* {
	font-family: "Junge";
}

h4 {
	text-decoration: underline;
	padding: 10px;
}

li {
	padding: 5px;
}
/*
.carousel-item{
	height: 500px;
}*/

#site-logo {
	width: 50px;
	height: 50px;
}

.h1 {
	font-family: "Ephesis";
	font-size: 6em;
	text-align: center;
	padding: 20px;
}

.scrollspy-example h4 {
	font-family: "Junge";
	font-size: 2em;
}

